.email-form-input {
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;

  border-top: 2px solid black; /* Top border */
  border-left: 2px solid black; /* Left border */
  border-bottom: 2px solid black; /* Bottom border */
  border-right: none;
}

.email-form-button {
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  border-top: 2px solid black; /* Top border */
  border-right: 2px solid black; /* Left border */
  border-bottom: 2px solid black; /* Bottom border */
  border-left: none;
}
